/* General Styling */
body {
    background-image: url("img/space_background.jpg");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Text Box */
#textBox {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: rgb(55, 175, 55);
    background-color: rgb(51, 51, 51);
    border: rgb(126, 126, 126) 4px solid;
    width: 350px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: none; /* Hidden by default */
    padding: 10px;
}

#textBox span {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

/* Individual Planet Sizes & Positions */
#RingPlanet img {
    width: 170px;
    height: auto;
    position: absolute;
    top: 100px;
    right: 90px;
}

#RedPlanet img {
    width: 250px;
    height: auto;
    position: absolute;
    top: 100px;
    right: 375px;
}

#TanPlanet img {
    width: 380px;
    height: auto;
    position: absolute;
    top: 280px;
    left: 50px;
}

#EarthPlanet img {
    width: 230px;
    height: auto;
    position: absolute;
    bottom: 100px;
    right: 725px;
}

#BluePlanet img {
    width: 120px;
    height: auto;
    position: absolute;
    top: 70px;
    left: 600px;
}

/* Fuel Meter */
#Fuel {
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: rgb(51, 51, 51);
    border: rgb(126, 126, 126) 4px solid;
    border-radius: 10px;
    height: 120px;
    width: 400px;
}

#Fuel img {
    position: relative;
    bottom: 185px;
    right: 60px;
}

/* Show TextBox When Hovering Over Any Planet */
.planet-container:hover ~ #TextBox {
    display: block;
}