/* General Styling */
body {
    background-image: url("img/space_background.jpg");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Planet Containers */
.planet-container {
    position: absolute;
}

/* Planet Sizes & Positions */
#RingPlanet {
    top: 100px;
    right: 90px;
}
#RingPlanet img {
    width: 170px;
}

#RedPlanet {
    top: 100px;
    right: 375px;
}
#RedPlanet img {
    width: 250px;
}

#TanPlanet {
    top: 280px;
    left: 50px;
}
#TanPlanet img {
    width: 380px;
}

#EarthPlanet {
    bottom: 100px;
    right: 725px;
}
#EarthPlanet img {
    width: 230px;
}

#BluePlanet {
    top: 70px;
    left: 600px;
}
#BluePlanet img {
    width: 120px;
}

/* Fuel Meter */
#Fuel {
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: rgb(51, 51, 51);
    border: rgb(126, 126, 126) 4px solid;
    border-radius: 10px;
    height: 120px;
    width: 400px;
}
#Fuel img {
    position: relative;
    bottom: 185px;
    right: 60px;
}

/* Text Boxes (Hidden by Default) */
.textBox {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: rgb(55, 175, 55);
    background-color: rgb(51, 51, 51);
    border: rgb(126, 126, 126) 4px solid;
    width: 350px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    padding: 10px;
    display: none;
}

/* Show Different Text Box on Hover */
#RingPlanet:hover ~ #RingPlanetText,
#RedPlanet:hover ~ #RedPlanetText,
#TanPlanet:hover ~ #TanPlanetText,
#EarthPlanet:hover ~ #EarthPlanetText,
#BluePlanet:hover ~ #BluePlanetText {
    display: block;
}
